.tabs {
    .tab-headers {
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;

        > div {
            padding: 5px;
            border: 1px solid #aaddff;

            &.active {
                background: lightsteelblue;
            }
        }
    }
}
