.navbar {
  display: flex;

  .nav {
    flex-grow: 1;
  }

  .date {
    display: flex;

    .time-progress {
      margin: 3px;
    }
  }

  .currency {
    margin: 0 10px;
    font-size: 150%;
    display: flex;

    .extra {
      display: flex;
      flex-direction: column;
      margin: 0 6px;

      .cap {
        font-size: 40%;
      }

      .delta {
        font-size: 50%;
      }
    }
  }
}